<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>タイトル</title>
</head>
<body>
  <h1>曲ディグル</h1>
  <p>お気にりのアーティスト入力</p>
  <form action="/artist" type="get">
    <input type="text" name="artist" placeholder="アーティスト名">
    <input type="submit" vlaue="検索">
  </form>
</body>
</html>
